.abuelo {
	background-color: #ED462F;
	width: 500px;
	height: 500px;	
	box-sizing: border-box;
	padding: 80px;
	position: relative;
}

.padre {
	background-color: #752E80;
	height: 100%;
}

.hijo {
	background-color: #FFF835;
	width: 100px;
	height: 100px;
	top:0px;
	left: 0px;
	position: absolute;
}